// layouts
$gradient1: linear-gradient(
  45deg,
  rgba(97, 198, 188, 1) 0%,
  rgba(159, 200, 188, 1) 69%
);
$pattern: linear-gradient(
    transparent 11px,
    rgba(220, 220, 200, 0.8) 12px,
    transparent 12px
  ),
  linear-gradient(
    90deg,
    transparent 11px,
    rgba(220, 220, 200, 0.8) 12px,
    transparent 12px
  );
$mainFC: #ccc;

//vars for fluid font sizes
$maxS: 1920;
$minS: 480;
